<!-- /path/to/confirm_bulk_export.html -->

{% extends 'wagtailadmin/bulk_actions/confirmation/base.html' %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% blocktranslate trimmed count counter=items|length %}Export 1 item{% plural %}Export {{ counter }} items{% endblocktranslate %}{% endblock %}

{% block header %}
    {% trans "Export" as export_str %}
    {% include "wagtailadmin/shared/header.html" with title=export_str icon="doc-empty-inverse" %}
{% endblock header %}

{% block items_with_access %}
        {% if items %}
        <p>{% trans "Here is the registration info that will be exported:" %}</p>
        <ul>
            {% for item in items %}
            <li>
             id: {{ item.item.id }} - {{ item.item.event_name }} - user info: {{ item.item.user_info }} - registration date: {{ item.item.registration_date }} - wait list: {{ item.item.wait_list }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
{% endblock items_with_access %}

{% block items_with_no_access %}

{% blocktranslate trimmed asvar no_access_msg count counter=items_with_no_access|length %}You don't have permission to export this item{% plural %}You don't have permission to export these items{% endblocktranslate %}
{% include 'wagtailadmin/bulk_actions/confirmation/list_items_with_no_access.html' with items=items_with_no_access no_access_msg=no_access_msg %}

{% endblock items_with_no_access %}

{% block form_section %}
{% if items %}
    {% trans 'Yes, export' as action_button_text %}
    {% trans "No, don't export" as no_action_button_text %}
    {% include 'wagtailadmin/bulk_actions/confirmation/form.html' with action_button_class="serious" %}
{% else %}
    {% include 'wagtailadmin/bulk_actions/confirmation/go_back.html' %}
{% endif %}
{% endblock form_section %}
