{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar menu_tags wagtailimages_tags %}

{% block content %}
<div id="page-content" class="container">
{% for post in page.get_children %}
    {% with post=post.specific %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {% endwith %}
{% endfor %}

<div id="page-body" class="row">
<div class="col">

{{ page.body|richtext }}

{% if page.registration_form_chooser == None  %}
<p class="alert alert-danger">No registration form associated</p>

{% endif %}

{% if current_spots == 0 and current_waitlist_spots == 0 %}
<p class="alert alert-danger">Registration is now full</p>

{% endif %}

{% if current_spots > 0 and page.registration_form_chooser != None %}

<p class="alert alert-success">Registration Open</p>
<p>{{ page.date }}</p>
<p>{{ current_spots }} Spots remaining</p>
<p>{{ current_waitlist_spots }} spots on the waitlist</p>

<form class="reg-form mb-4" method="POST">
  {% csrf_token %}
  {{ custom_form.as_p }}
 <button type="submit" class="btn btn-default btn-green">Register</button>

</form>

{% endif %}

{% if current_spots == 0 and current_waitlist_spots > 0 and page.registration_form_chooser != None and messages is not True %}
<p class="alert bg-warning">You will be registered for the waitlist</p>
<p>{{ current_waitlist_spots }} waitlist spot remaining</p>


<form class="mb-4" method="POST">
  {% csrf_token %}
  {{ custom_form.as_p }}
 <button type="submit" class="btn btn-default">Register</button>

</form>

{% endif %}

</div>
</div>
</div>


{% endblock %}
